{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<canvas id="bouncyBall"></canvas>
<section class="main-visual">
    <div class="container">

        <div class="row justify-content-center box">
            <div class="col-md-12 synopsis">
                <img src="http://99webpage.com/theme-review/landingpage/lotek/img/logo.png" alt="">
                <h3 class="synopsis__header">APPS LANDING PAGE</h3>
                <p class="synopsis__description">PREMIUM HTML5 LANDING PAGE FOR APP BUSINESS</p>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    App store</a>
                <a href="#" class="btn btn-default">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    App store</a>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-12 start-page">
                <a href="#">Start<br>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-12 line-page">
                <div class="line-page-line"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}