<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./meta') -%>
    <link rel="alternate" href="https://vutaweb.vn" hreflang="vn" />
    <link rel="stylesheet" href="/dist/css/vutaweb.css" />
    <link rel="stylesheet" href="/dist/css/main.css" />
    <title>Document</title>
</head>
<body class="montserrat">
    <div class="uk-offcanvas-content">